<section id="data" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>This section describes the data sources used in the Energy Export Databrowser.
				The BP Statistical Review is British Petroleum's best effort to review world energy trends. Produced once a year, the Excel workbook contains regional consumption and production data for Oil, Natural Gas, Coal, Nuclear and Hydroelectric energy resources. Data from several worksheets in the Statistical Review are used as input to the Energy Export Databrowser. The data used by the Databrowser are unaltered except for minor cleanup. It is assumed that BP has made every effort to harmonize data from different sources and ensure that values within this workbook are consistent and comparable between nations.
				</p>
            </div>
        </div>
    </div>
</section>
