<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h4>Mazama Science is a consulting group that brings together a wide variety of experience in support of web-based access to scientific data and information. We believe the world will be a better place when rich datasets and vetted analyses are easily available through your browser and we are working hard to make that happen.</h4>

                        <h4>In our experience, people enjoy looking at informative scientific graphics if the barrier to creating them is low. When this happens, our species' extraordinary capabilities as pattern recognizers enable us to convert what we see in good scientific graphics into a deeper understanding.</h4>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Explore the Energy Trends around the world</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/mzm_img.png" class="img-responsive" alt="">
                            </div>
                            <!-- <div class="button">
                                You can hook the "home button" to some JavaScript events or just remove it
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
